.cardSpotify-card{
    background-color: transparent;
    text-overflow: ellipsis;
    
}
.cardSpotify-card-title{
font-size: 16px;
font-weight: 700;
}

.cardSpotify-card-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.cardSpotify-card .card-body .MuiSvgIcon-root{
    position:absolute;
    top:-1em;
    right:10px;
    font-size: 3em;
    color:#1DB94F;
    display: none;
    cursor: pointer;
}
.cardSpotify-card .card-body{
    position:relative;
}

.cardSpotify{
    padding: 20px;
    border-radius: 15px;
}
.cardSpotify:hover{
    background-color: #292828
    ;
}
.cardSpotify:hover .cardSpotify-card .card-body .MuiSvgIcon-root{
   display: block;
}
.cardSpotify a{
    color:white;
    text-decoration: none;;
}