.app {
  display: flex;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  max-width: none;
  margin-left: auto;
}

.row {
  margin-right: 0x;
  margin-left: 0px;
}
